body{
    height: 100vh;

}

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.article{
    text-decoration: none;
}
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}
.timeline__content-desc {
    padding-top: 20px;
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}
.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }

}
.timeline-item:hover{
    cursor: pointer;
}
.timeline-item {
    padding: 40px 0;
    /*opacity: .3;
    filter: blur(2px);*/
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}
.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    /*opacity: 0;*/
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}
.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.header {
    position: fixed;
    top: 100;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 3px;
    background: white;
    width: 0%;
}

#overlay{

}
.overlay{
    opacity:0;
    transition:2s;
    pointer-events: none;
    padding-bottom: 15%;
    width: 100%;
    height: 90vh;
    position: fixed;
    z-index: 210;
}
.overlay > iframe{
    border-style: none;
    margin: 15%;
    margin-top: 5%;
    height: 95%;
    width: 70%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
}
.quit{
    position: absolute;
    pointer-events: none;
    margin: 15%;
    margin-top: 5%;
    height: 95%;
    width: 70%;
}
.quit > a {
    margin: 10px;
    float: right;
    color: white;
    text-decoration: none;
    pointer-events: all;
}
.quit > a > img {
    max-width: 25px;
}

.quitm{
    display: none;
    position: absolute;
    pointer-events: none;
    margin-left: 5%;
    height: 95%;
    width: 70%;
}
.quitm > a {
    margin: 10px;
    float: left;
    color: white;
    text-decoration: none;
    pointer-events: all;
}
.quitm > a > img {
    max-width: 30px;
}

.quit > a:hover{
    cursor: pointer;
}
.quitm > a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .overlay {
        height: 100%;
    }
    .overlay > iframe {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .quit{
        display: none;
    }
    .quitm{
        display: block;
    }
}







/* ##### Header ##### */

.heading {
    margin-left: 5px;
}

/* ##### Suche ##### */
.searchbar .search {
    position: fixed;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 4px;
    transition: all 0.15s ease;
    z-index: 1;
    top: 19px;
    left: 90px;
    border-radius: 30PX;

}

.searchbar input[type=text] {
    padding: 8px;
    padding-left: 15px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border: none;
    border-radius: 30PX;
    height: 30px;
    color: #444444;;
}

.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
    border: none;
    outline: none;
    color: #444444;
}

.searchbar button {
    float: right;
    cursor: pointer;
    width: 44px;
    height: 35px;
    border: none;
}

.searchbar button:active,
.searchbar button:focus {
    border: none;
    outline: none;
}

.searchbar button img {
    width: 10px;
    height: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 23px 0px 24px;
    padding: 0;
}

/* ##### Buttons ##### */
.btn-group .button {
    background-color: #524d4d00;
    border: none;
    color: white;
    padding: 11px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    float: left;
    transition: all 0.15s ease;
}

.btn-group .button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-group {
    border: 1px solid white;
    border-radius: 4px;
    z-index: 1;
    display: inline-block;
}

.btn-group .button:hover {
    background-color: rgb(0, 122, 255);
    color: white;
}

.btn-group .button:active,
.btn-group .button:focus {
    outline: none;
    background-color: rgb(0, 122, 255);
    color: white;
}

.buttons {
    margin: 5px 0 0 16px;
}

.button{
    background-color:transparent;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    padding: 13px;
    padding-left:  15px;
    text-decoration:none;
    border: 0px;
}
/* ##### Boxen ##### */
.container {
    position: absolute;
    z-index: 1;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
}

/* ##### Status LED ##### */
.led {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(76, 217, 100);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.red {
    background-color: rgb(255, 59, 48);
}

/* ##### Typographie ##### */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1rem;
    font-weight: 700;
    margin: 0;
}

h1 {
    line-height: 2.5rem;
    font-size: 42px;
}

p {
    margin: 3px 3px 3px 13px;
    font-size: 14px;
}

/* ##### Filter ##### */
.filterDiv {
    display: none;
}

.show {
    display: flex;
}

/* ##### MediaQueries ##### */

@media (max-width: 930px) {
    .header {
        display: inline-block;
    }

    .searchbar {
        width: 100%;
    }

    .container {
        padding: 2%;
    }

    .buttons {
        margin: 5px 0 0 10px;
    }

    hr {
        margin: 1% 3%;

    }
}

@media (max-width: 623px) {
    .btn-group {
        max-width: 354px;
    }

    .container {
        padding: 3%;
    }

    .buttons {
        margin: 5px 0 0 2px;
    }

    h1 {
        line-height: 3rem;
        font-size: 37px;
    }

    .item {
        width: 100%;
    }

    hr {
        display: none;
    }
}




.menu {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    transition: transform 250ms ease;
    cursor: pointer;
    z-index: 200;
}
.menu span {
    position: relative;
    display: block;
    width: 50%;
    height: 2px;
    background-color: white;
    float: left;
    transform-origin: center center;
    transition: transform 250ms ease;
    z-index: 200;
}
.menu span:nth-of-type(1) {
    transform: translateY(-5px);
}
.menu span:nth-of-type(3) {
    transform: translateY(5px);
}

#menu {
    display: none;
}

.menu img{
    position: absolute;
    z-index: 200;
    color: white;
    width: 23.5px;
}
#menu:checked ~ .menu {
    background-color: transparent;
    transform: rotate(360deg);
    transition: transform 250ms ease;
}
#menu:checked ~ .menu span {
    background-color: white;
    transition: transform 250ms ease;
}
#menu:checked ~ .menu span:nth-of-type(1) {
    transform: translateY(1px) rotate(45deg);
    z-index: 210;
}
#menu:checked ~ .menu span:nth-of-type(2) {
    display: none;
}
#menu:checked ~ .menu span:nth-of-type(3) {
    transform: translateY(-1px) rotate(-45deg);
    z-index: 210;
}
#menu:checked ~ .menu img{
    display: none;
}
#menu:checked ~ .nav {
    z-index: 100;
    left: 0px;
    transition: left 500ms ease;
}
#menu:checked ~ main {
    transform: translateX(250px);
    transition: transform 500ms ease;
}

.nav {
    position: fixed;
    top: 0;
    left: -210px;
    width: 300px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(14,14,14,0.8);
    transition: left 500ms ease;
    z-index: 0;
    -webkit-box-shadow: 3px 0px 14px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 0px 14px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 0px 14px -5px rgba(0,0,0,0.75);

}
.nav ul {
    position: relative;
    list-style-type: none;
    margin: 100px 0;
    padding: 0;
}
.nav ul li {
    position: relative;
    display: block;
    border-bottom: 1px solid grey;
}
.nav ul li a {
    position: relative;
    display: block;
    margin: 0;
    padding: 15px 20px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.nav ul li a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: width 250ms ease;
    z-index: -1;
}
.nav ul li a:hover {
    color: #444;
}
.nav ul li a:hover:before {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: width 250ms ease;
}

.container {
    width: 75%;
    margin: 0 auto;
}

main {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: translateX(0px);
    transition: transform 500ms ease;
    z-index: 0;
}
main header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
}
main header h1 {
    color: #ccc;
    z-index: 3;
}
main section {
    position: relative;
    display: block;
    margin: 0;
    padding: 50px 0;
    background-color: white;
    z-index: 100;
}
main section p {
    margin-bottom: 30px;
}
main .img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background-color: #444;
}
main .img h1 {
    color: rgba(255, 255, 255, 0.2);
}
main footer {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 20px 20px 20px;
    background-color: #444;
}
main footer::after {
    clear: both;
    content: "";
    display: block;
}
main footer .logo {
    font-size: 28px;
    color: whitesmoke;
    line-height: 0;
    margin-bottom: 8px;
    margin-right: 4px;
}
@media screen and (min-width: 1024px) {
    main footer .logo {
        float: left;
        margin-bottom: 0;
    }
}
main footer ul {
    line-height: 1.5;
    margin: 0 0 16px 0;
    padding: 0;
}
main footer ul::after {
    clear: both;
    content: "";
    display: block;
}
@media screen and (min-width: 1024px) {
    main footer ul {
        float: left;
        line-height: 1.8;
        margin-bottom: 0;
        margin-left: 16px;
    }

    main footer ul::after {
        clear: both;
        content: "";
        display: block;
    }
}
main footer ul li {
    list-style: none;
    padding-right: 16px;
}
@media screen and (min-width: 1024px) {
    main footer ul li {
        display: inline;
        text-align: left; 
    }

}

@media screen and (max-width: 767px) {
    .nav{
        width: 101%;
    }
    .menu img{
        width: 14.5px;
    }
    .timeline-header__title{
        line-height: 2em;
    }
    .menu{
        height: 30px;
        width: 30px;
    }
    .searchbar input[type=text]{
        padding: 0;
        padding-left: 15px;
        font-size: 13px;
    }
    .searchbar .search{
        left: 60px;
        top: 17px;
    }
}

main footer ul li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}
main footer ul li a:focus, main footer ul li a:hover {
    color: white;
}
@media screen and (min-width: 1024px) {
    main footer .secondary-links {
        float: right;
    }
}
main footer .secondary-links li a {
    font-size: 12px;
    font-weight: 100 !important;
}
main footer .secondary-links .social {
    margin: 1em 0 0 0;
}
@media screen and (min-width: 1024px) {
    main footer .secondary-links .social {
        float: right;
        margin-top: 0;
    }
}
main footer .secondary-links .social li {
    float: left;
    font-size: 1em;
    line-height: 0;
    margin: 0;
    padding-right: 0.7em;
}
main footer .secondary-links .social li:last-child {
    padding-right: 0;
}
main footer .secondary-links .social li > a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    color: #444;
    text-align: center;
    line-height: 30px;
}
main footer .secondary-links .social li > a:hover {
    background-color: white;
}
