body{
    height: 100vh;
    
}

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.article{
    text-decoration: none;
}
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 66px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}
.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}
.timeline:before {
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    content: "";
    background: rgba(255, 255, 255, 0.07);
}
@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}
.timeline-item:hover{
    cursor: pointer;
}
.timeline-item {
    padding: 40px 0;
    opacity: .3;
    filter: blur(2px);
    transition: .5s;
    box-sizing: border-box;
    width: calc(50% - 40px);
    display: flex;
    position: relative;
    transform: translateY(-80px);
}
.timeline-item:before {
    content: attr(data-text);
    letter-spacing: 3px;
    width: 100%;
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    font-family: "Pathway Gothic One", sans-serif;
    border-left: 2px solid rgba(255, 255, 255, 0.5);
    top: 70%;
    margin-top: -5px;
    padding-left: 15px;
    opacity: 0;
    right: calc(-100% - 56px);
}
.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}
.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.demo-footer {
    padding: 60px 0;
    text-align: center;
}
.demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
}


.header {
    position: fixed;
    top: 100;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* The progress container (grey background) */
.progress-container {
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 3px;
    background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 3px;
    background: white;
    width: 0%;
}

#overlay{

}
.overlay{
    opacity:0;
    transition:2s;
    pointer-events: none;
    padding-bottom: 15%;
    width: 100%;
    height: 90vh;
    position: fixed;
    z-index: 101;
}
.overlay > iframe{
    border-style: none;
    margin: 15%;
    margin-top: 5%;
    height: 95%;
    width: 70%;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 23px -5px rgba(0,0,0,0.75);
}
.quit{
    position: absolute;
    pointer-events: none;
    margin: 15%;
    margin-top: 5%;
    height: 95%;
    width: 70%;
}
.quit > a {
    margin: 10px;
    float: right;
    color: white;
    text-decoration: none;
    pointer-events: all;
}
.quit > a > img {
    max-width: 25px;
}

.quitm{
    display: none;
    position: absolute;
    pointer-events: none;
    margin-left: 5%;
    height: 95%;
    width: 70%;
}
.quitm > a {
    margin: 10px;
    float: left;
    color: white;
    text-decoration: none;
    pointer-events: all;
}
.quitm > a > img {
    max-width: 30px;
}

.quit > a:hover{
    cursor: pointer;
}
.quitm > a:hover{
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .overlay {
        height: 100%;
    }
    .overlay > iframe {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    .quit{
        display: none;
    }
    .quitm{
        display: block;
    }
}







/* ##### Header ##### */

.heading {
    margin-left: 5px;
}

/* ##### Suche ##### */
.searchbar .search {
    position: absolute;
    border: 1px solid grey;
    padding: 2px;
    border-radius: 4px;
    transition: all 0.15s ease;
    z-index: 1;
    top: 10px;
}

.searchbar input[type=text] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid lightgrey;
    border: none;
}

.searchbar input[type=text]:active,
.searchbar input[type=text]:focus {
    border: none;
    outline: none;
}

.searchbar button {
    float: right;
    cursor: pointer;
    width: 44px;
    height: 35px;
    border: none;
}

.searchbar button:active,
.searchbar button:focus {
    border: none;
    outline: none;
}

.searchbar button img {
    width: 10px;
    height: 10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 5px 23px 0px 24px;
    padding: 0;
}

/* ##### Buttons ##### */
.btn-group .button {
    background-color: #524d4d00;
    border: none;
    color: white;
    padding: 11px 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    float: left;
    transition: all 0.15s ease;
}

.btn-group .button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-group .button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-group {
    border: 1px solid white;
    border-radius: 4px;
    z-index: 1;
    display: inline-block;
}

.btn-group .button:hover {
    background-color: rgb(0, 122, 255);
    color: white;
}

.btn-group .button:active,
.btn-group .button:focus {
    outline: none;
    background-color: rgb(0, 122, 255);
    color: white;
}

.buttons {
    margin: 5px 0 0 16px;
}

/* ##### Boxen ##### */
.container {
    position: absolute;
    z-index: 1;
    top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.item {
    border-radius: 10px;
    margin: 1%;
    padding: 18px 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    display: flex;
    background-color: rgba(240, 240, 240, 0.95);
    cursor: pointer;
    width: 230px;
}

/* ##### Status LED ##### */
.led {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(76, 217, 100);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.red {
    background-color: rgb(255, 59, 48);
}

/* ##### Typografie ##### */
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1rem;
    font-weight: 700;
    margin: 0;
}

h1 {
    line-height: 2.5rem;
    font-size: 42px;
}

p {
    margin: 3px 3px 3px 13px;
    font-size: 14px;
}

/* ##### Filter ##### */
.filterDiv {
    display: none;
}

.show {
    display: flex;
}

/* ##### MediaQueries ##### */
@media (max-width: 930px) {
    .header {
        display: inline-block;
    }

    .searchbar {
        display: inline-block;
        margin: 20px 0 -6px 7px;
        width: 100%;
    }

    .container {
        padding: 2%;
    }

    .buttons {
        margin: 5px 0 0 10px;
    }

    hr {
        margin: 1% 3%;

    }
}

@media (max-width: 623px) {
    .btn-group {
        max-width: 354px;
    }

    .container {
        padding: 3%;
    }

    .buttons {
        margin: 5px 0 0 2px;
    }

    h1 {
        line-height: 3rem;
        font-size: 37px;
    }

    .item {
        width: 100%;
    }

    hr {
        display: none;
    }
}