.bloc {
    width: 100%;
    height: 100%;
    background-color: green;
    padding-left: 10%;
    padding-right: 10%;
} 

@import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One");
.timeline {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 700px;
    position: relative;
}
.timeline__content-title {
    font-weight: normal;
    font-size: 46px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", sans-serif;
    color: #fff;
}
.timeline__content-sub-title {
    font-weight: normal;
    font-size: 23px;
    margin: -10px 0 0 0;
    transition: .4s;
    padding: 0 10px;
    letter-spacing: 4.4px;
    box-sizing: border-box;
    font-family: "Pathway Gothic One", thin, sans-serif;
    color: #fff;
}
.timeline__content-desc {
    margin: 0;
    font-size: 15px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.7);
    font-family: Cardo;
    font-weight: normal;
    line-height: 25px;
}

@media only screen and (max-width: 767px) {
    .timeline:before {
        left: 40px;
    }
}

.timeline-item:nth-child(even) {
    align-self: flex-end;
}
.timeline-item:nth-child(even):before {
    right: auto;
    text-align: right;
    left: calc(-100% - 56px);
    padding-left: 0;
    border-left: none;
    border-right: 2px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
}
.timeline-item--active {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0px);
}
.timeline-item--active:before {
    top: 50%;
    transition: .3s all .2s;
    opacity: 1;
}
.timeline-item--active .timeline__content-title {
    margin: -50px 0 20px 0;
}
@media only screen and (max-width: 767px) {
    .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
    }
    .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
    }
    .timeline-item:last-child {
        padding-bottom: 40px;
    }
}
.timeline__img {
    max-width: 100%;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    float: right;
}
.timeline-container {
    width: 100%;
    position: relative;
    padding: 80px 0;
    transition: .3s ease 0s;
    background-attachment: fixed;
    background-size: cover;
}
.timeline-container:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(99, 99, 99, 0.8);
    content: "";
}
.timeline-header {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.timeline-header__title {
    color: #fff;
    font-size: 46px;
    font-family: Cardo;
    font-weight: normal;
    margin: 0;
}
.timeline-header__subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Pathway Gothic One", sans-serif;
    font-size: 16px;
    letter-spacing: 5px;
    margin: 10px 0 0 0;
    font-weight: normal;
}

.demo-footer {
    padding: 60px 0;
    text-align: center;
}
.demo-footer a {
    color: #999;
    display: inline-block;
    font-family: Cardo;
}

figure img {
  float: right;
    height: auto;
    width: 20%;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
}

.container {
    background-color: red;
    width: 100%;
    height: 100%;
} 


