/* CONFIG - Configuration générale du body */

body{
    background-color: #323232;
    height: 100%;
    width: 100;
    padding: 50px;
}
h1{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 4em;
}
h2{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 1.9em;
}
p{
    font-family: 'Cardo', serif;
    font-size: 1.1em;
}
a{
    font-family: 'Cardo', serif;
    font-size: 1.1em;
}

/* HEADER - Infos globales dates */



.header{
    color: white;
    width: 100%;
    height: 150px;
}
.date{
    text-align: center;
    width:100%
}
.date > h1, h2 {
    margin: 0px;
    font-family: 'Pathway Gothic One', sans-serif;
    text-transform: capitalize;
}
.date > h2 {
    letter-spacing: 0.2em;
}
.image{
    align-content: center;
    text-align: center;
    width: 100%;
}
.image > img {
    margin-top: 25px;
max-width: 100%;
}
.image > p {
    padding-top:15px;
    text-align: center;
    float: none;
}
